@font-face {
  font-family: 'HelveticaNeueLight';
  src: url("fonts/HelveticaNeueLight.eot");
  src: url("fonts/HelveticaNeueLight.eot") format("embedded-opentype"), url("fonts/HelveticaNeueLight.woff2") format("woff2"), url("fonts/HelveticaNeueLight.woff") format("woff"), url("fonts/HelveticaNeueLight.ttf") format("truetype"), url("fonts/HelveticaNeueLight.svg#HelveticaNeueLight") format("svg"); }

@font-face {
  font-family: 'HelveticaNeueBold';
  src: url("fonts/HelveticaNeueBold.eot");
  src: url("fonts/HelveticaNeueBold.eot") format("embedded-opentype"), url("fonts/HelveticaNeueBold.woff2") format("woff2"), url("fonts/HelveticaNeueBold.woff") format("woff"), url("fonts/HelveticaNeueBold.ttf") format("truetype"), url("fonts/HelveticaNeueBold.svg#HelveticaNeueBold") format("svg"); }

@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url("fonts/HelveticaNeueMedium.eot");
  src: url("fonts/HelveticaNeueMedium.eot") format("embedded-opentype"), url("fonts/HelveticaNeueMedium.woff2") format("woff2"), url("fonts/HelveticaNeueMedium.woff") format("woff"), url("fonts/HelveticaNeueMedium.ttf") format("truetype"), url("fonts/HelveticaNeueMedium.svg#HelveticaNeueMedium") format("svg"); }

@font-face {
  font-family: 'HelveticaNeue';
  src: url("fonts/HelveticaNeue.eot");
  src: url("fonts/HelveticaNeue.eot") format("embedded-opentype"), url("fonts/HelveticaNeue.woff2") format("woff2"), url("fonts/HelveticaNeue.woff") format("woff"), url("fonts/HelveticaNeue.ttf") format("truetype"), url("fonts/HelveticaNeue.svg#HelveticaNeue") format("svg"); }

body {
  font-family: "HelveticaNeue", sans-serif;
  font-size: 14px;
  line-height: 1.5; }

h1, h2, h3, h4, h5 {
  font-family: "HelveticaNeueMedium", sans-serif; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

.box-ctn {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  background: #fff; }
