@font-face {
  font-family: 'HelveticaNeueLight';
  src: url("../fonts/HelveticaNeueLight.eot");
  src: url("../fonts/HelveticaNeueLight.eot") format("embedded-opentype"), url("../fonts/HelveticaNeueLight.woff2") format("woff2"), url("../fonts/HelveticaNeueLight.woff") format("woff"), url("../fonts/HelveticaNeueLight.ttf") format("truetype"), url("../fonts/HelveticaNeueLight.svg#HelveticaNeueLight") format("svg"); }

@font-face {
  font-family: 'HelveticaNeueBold';
  src: url("../fonts/HelveticaNeueBold.eot");
  src: url("../fonts/HelveticaNeueBold.eot") format("embedded-opentype"), url("../fonts/HelveticaNeueBold.woff2") format("woff2"), url("../fonts/HelveticaNeueBold.woff") format("woff"), url("../fonts/HelveticaNeueBold.ttf") format("truetype"), url("../fonts/HelveticaNeueBold.svg#HelveticaNeueBold") format("svg"); }

@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url("../fonts/HelveticaNeueMedium.eot");
  src: url("../fonts/HelveticaNeueMedium.eot") format("embedded-opentype"), url("../fonts/HelveticaNeueMedium.woff2") format("woff2"), url("../fonts/HelveticaNeueMedium.woff") format("woff"), url("../fonts/HelveticaNeueMedium.ttf") format("truetype"), url("../fonts/HelveticaNeueMedium.svg#HelveticaNeueMedium") format("svg"); }

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeue.eot");
  src: url("../fonts/HelveticaNeue.eot") format("embedded-opentype"), url("../fonts/HelveticaNeue.woff2") format("woff2"), url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.ttf") format("truetype"), url("../fonts/HelveticaNeue.svg#HelveticaNeue") format("svg"); }

body {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 1.5; }

h1, h2, h3, h4, h5 {
  font-family: "Rubik", sans-serif;
  font-weight: 500; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

.box-ctn {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  background: #fff; }

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0; }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left; }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0; }

html, body {
  font-family: "Rubik", sans-serif;
  color: #6a6a6a; }

a:hover {
  text-decoration: none; }

.topbar {
  padding: 20px 0;
  border-bottom: 1px solid #C6C6C6; }

.top-links {
  text-align: right;
  margin-top: 5px; }
  .top-links a {
    margin-left: 23px; }
  .top-links img {
    margin-top: 5px; }

.sub-nav {
  position: relative; }
  .sub-nav ul li {
    display: inline-block;
    font-weight: 300;
    text-transform: uppercase;
    color: #4d4d4d;
    font-size: 0.85714em;
    min-width: 120px;
    text-align: center; }
    .sub-nav ul li:last-child {
      border-right: 1px solid #C6C6C6; }
    .sub-nav ul li:hover .sub-menu {
      display: block; }
    .sub-nav ul li a {
      color: #4d4d4d;
      padding: 20px;
      display: block;
      border-left: 1px solid #C6C6C6; }
      .sub-nav ul li a i {
        margin-right: 5px; }
      .sub-nav ul li a:hover {
        text-decoration: none;
        color: #4472C4; }
      .sub-nav ul li a.active {
        color: #4472C4;
        font-weight: 400; }

.sub-menu {
  position: absolute;
  display: none; }
  .sub-menu a {
    display: block; }
  .sub-menu a:hover {
    display: block; }

.bus-focus i {
  margin-left: 10px;
  font-size: 14px; }

.business-sub-menu {
  display: none;
  position: absolute;
  background: rgba(56, 56, 58, 0.61);
  width: 250px;
  margin-left: 248px;
  z-index: 999;
  padding-left: 20px; }
  .business-sub-menu a {
    display: block;
    padding: 15px 0;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    border-bottom: 1px solid #fff; }
    .business-sub-menu a:hover {
      font-weight: 400; }
      .business-sub-menu a:hover i {
        color: #fff; }
    .business-sub-menu a i {
      margin-right: 10px;
      color: #707070; }
    .business-sub-menu a:last-child {
      border-bottom: none; }

.home-bg {
  background: url(../img/background.png);
  background-position: bottom center;
  background-size: cover; }

.jumbo-ctn {
  max-width: 600px;
  margin: 0 auto;
  padding: 300px 20px 200px; }
  .jumbo-ctn img {
    margin-bottom: 30px; }
  .jumbo-ctn p {
    color: #C8DCF7;
    font-weight: 300;
    line-height: 1.8;
    font-size: 1.14286em; }

.counter {
  background: #fff;
  max-width: 300px;
  width: 100%;
  float: right;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding: 20px 20px 10px; }
  .counter .crude, .counter .currency {
    display: block;
    width: 49%;
    float: left; }
  .counter p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 12px;
    color: #5D5C5C;
    text-transform: uppercase; }
    .counter p i {
      color: #5EA313;
      font-size: 18px; }
    .counter p span {
      display: block;
      font-size: 14px;
      font-weight: 300;
      color: #4d4d4d; }

.commodities {
  padding: 80px 0; }
  .commodities.activity {
    padding: 80px 0 0px; }
  .commodities a:hover {
    color: #4472C4 !important; }

.commodity-box {
  border-radius: 4px; }
  .commodity-box p {
    padding: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #2b2b2b; }
    .commodity-box p span {
      display: block;
      font-weight: 300;
      color: #4d4d4d; }
  .commodity-box img {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px; }

.intro {
  padding: 0px 0 80px; }

.pier-intro {
  font-size: 1.14286em;
  font-weight: 300;
  color: #4d4d4d;
  padding-right: 50px;
  line-height: 1.7; }
  .pier-intro span {
    font-weight: 500; }

.h4-title {
  color: #4472C4; }
  .h4-title h4 {
    margin-bottom: 20px; }

.rule-line {
  border-bottom: 1px solid #979797; }

.halo {
  font-size: 2.28571em;
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: 500; }
  .halo span {
    color: #ACACAC; }

.capability {
  padding-bottom: 100px; }
  .capability h3 {
    font-weight: 500;
    color: #333; }
  .capability .content-box {
    border-bottom: 1px solid #979797;
    padding: 15px 0; }
    .capability .content-box p {
      font-weight: 300;
      line-height: 1.7; }
    .capability .content-box h4 {
      color: #333;
      font-weight: 500;
      margin-bottom: 15px; }
    .capability .content-box:last-child {
      border-bottom: none; }

.left-side {
  padding: 30px 0; }

.text-slider {
  width: 75%;
  padding: 10px 0; }
  .text-slider h3 {
    color: #4472C4;
    margin-bottom: 20px;
    border-top: 1px solid #4472C4;
    padding-top: 25px; }
  .text-slider p {
    font-weight: 300;
    line-height: 1.7; }

.core-values {
  font-weight: 500 !important;
  color: #333;
  font-size: 1.28571em; }
  .core-values span {
    display: block;
    font-weight: 300 !important;
    font-size: 0.85714em; }

.page_image.about {
  background: url(../img/about_us.png);
  background-size: cover;
  background-position: center right;
  padding: 20px 0; }

.page_image h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: #fff; }
  .page_image h3 span {
    font-weight: 300;
    display: block;
    font-size: 14px;
    margin-top: 10px; }

.about-text {
  padding-top: 60px; }
  .about-text.business-desc {
    margin-bottom: 60px; }
  .about-text p {
    margin-bottom: 20px; }
  .about-text .halo {
    padding-top: 60px;
    margin-bottom: 30px; }

.bottom-liner {
  width: 60%;
  border-top: 1px solid #D8D8D8; }
  .bottom-liner span {
    display: block;
    height: 9px;
    background: #D8D8D8;
    width: 50%; }

.values {
  padding: 50px 0 100px; }
  .values h1 {
    color: #4472C4;
    text-transform: uppercase; }
    .values h1 span {
      display: block;
      width: 100px;
      height: 7px;
      background: #D8D8D8;
      margin-top: 20px;
      margin-bottom: 40px; }
  .values h4 {
    margin-bottom: 15px;
    color: #333; }
  .values p {
    font-weight: 300;
    color: #4d4d4d;
    line-height: 1.7; }

.line-divider {
  width: 70%;
  height: 0.5px;
  background: #4472C3; }

.mb-50 {
  margin-top: 60px; }

.coporate-governance {
  padding: 40px 0 90px; }
  .coporate-governance h2 {
    color: #494949;
    line-height: 1.3; }
  .coporate-governance h3 {
    color: #4472C4; }
    .coporate-governance h3 span {
      display: block;
      width: 100px;
      height: 7px;
      background: #D8D8D8;
      margin-top: 20px; }

.track-record {
  padding-bottom: 0px; }
  .track-record img {
    margin-bottom: 30px; }
  .track-record h3 {
    color: #4472C4;
    text-transform: uppercase; }
    .track-record h3 span {
      display: block;
      width: 300px;
      height: 7px;
      background: #D8D8D8;
      margin-top: 20px;
      margin-bottom: 40px; }
  .track-record p {
    color: #4d4d4d;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.7;
    font-size: 1.14286em; }

.desc-text {
  font-weight: 300;
  margin-top: 20px;
  line-height: 1.7; }
  .desc-text span {
    display: block;
    width: 60%;
    height: 8px;
    background: #D8D8D8;
    margin-top: 20px; }

.project {
  padding-right: 30px; }
  .project p {
    font-weight: 300;
    color: #4d4d4d;
    font-size: 1.14286em;
    line-height: 1.7; }
  .project h4 {
    color: #333; }
  .project ul {
    margin: 20px 0; }
    .project ul li {
      font-size: 1.14286em;
      margin-bottom: 5px;
      font-weight: 300;
      color: #4d4d4d; }

.blue-btn {
  border-radius: 3px;
  border: none;
  padding: 7px 20px;
  background: #4A90E2; }

.contact-form {
  max-width: 700px;
  width: 100%;
  margin: 80px auto;
  padding: 40px 50px;
  border: 1px solid #d8d8d8; }
  .contact-form p {
    color: #333;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 1.28571em; }
  .contact-form .form-horizontal .control-label {
    text-align: left;
    font-weight: 300;
    color: #000; }
  .contact-form .form-control {
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 40px; }
  .contact-form textarea {
    min-height: 150px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 3px;
    padding: 15px; }
    .contact-form textarea:focus {
      border: 1px solid #4472C4;
      outline: #4472C4; }
  .contact-form button {
    color: #fff; }
    .contact-form button:hover {
      color: #fff; }

.footer {
  background: #4f4f4f;
  padding: 50px 0; }
  .footer h4 {
    color: #fff;
    margin-bottom: 15px;
    font-weight: 500; }
  .footer ul {
    padding: 0;
    margin: 0; }
    .footer ul li {
      list-style: none;
      margin-bottom: 5px;
      font-weight: 300;
      color: #fff; }
      .footer ul li a {
        color: #fff; }

.social-media {
  margin-top: 25px; }
  .social-media a {
    display: inline-block;
    color: #fff;
    margin-right: 10px; }

.footer-group {
  margin-bottom: 30px; }

.contact-line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.41); }

.contact-image {
  float: left;
  width: 30px;
  margin-top: 7px; }

.contact-text {
  float: left;
  width: 85%;
  padding-left: 15px;
  padding-bottom: 10px; }
  .contact-text p {
    color: #fff;
    line-height: 1.5; }
    .contact-text p span {
      display: block; }

#nav-icon4 {
  width: 30px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  cursor: pointer;
  position: absolute;
  top: 8px;
  margin-right: 20px;
  right: 0;
  z-index: 99999;
  display: none; }
  #nav-icon4 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #4472C4;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center; }

#nav-icon4 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center; }

#nav-icon4 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center; }

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 6px; }

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0; }

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 18px;
  left: 5px; }

.mobile-menu {
  display: none; }

@media screen and (max-width: 768px) {
  .jumbo-ctn {
    padding: 100px 20px; }
  .intro .pier-intro {
    margin-bottom: 40px;
    padding-right: 0; }
  .commodities {
    padding: 50px 0 10px; }
  .commodity-box {
    margin-bottom: 40px; }
  .text-slider {
    width: 90%; } }

@media screen and (max-width: 600px) {
  .sub-nav {
    display: none; }
  .top-links {
    display: none; }
  #nav-icon4 {
    display: block; }
  .mobile-menu {
    background: #38383A;
    position: absolute;
    width: 100%;
    top: 76px;
    z-index: 9999; }
    .mobile-menu a {
      display: block;
      color: #fff;
      font-weight: 300;
      padding: 15px 20px;
      text-transform: uppercase;
      border-bottom: 1px solid rgba(204, 204, 204, 0.42); }
      .mobile-menu a:hover {
        font-weight: 400; }
      .mobile-menu a:last-child {
        border-bottom: none;
        border-top: 1px solid rgba(204, 204, 204, 0.42); }
      .mobile-menu a span {
        float: right; }
        .mobile-menu a span i {
          font-size: 18px; }
    .mobile-menu .business-menu {
      padding-left: 20px;
      display: none; }
      .mobile-menu .business-menu i {
        margin-right: 10px; }
      .mobile-menu .business-menu a {
        padding-left: 0; }
        .mobile-menu .business-menu a:last-child {
          border-bottom: none;
          border-top: none !important; }
  .track-record img {
    margin-bottom: 20px; }
  .about-text {
    padding-top: 40px; }
    .about-text .pier-intro {
      padding-right: 0; }
    .about-text .halo {
      padding-top: 30px; }
    .about-text .project {
      padding: 0; }
    .about-text.cap-proj {
      padding-bottom: 50px; }
  .commodities.activity {
    padding-top: 30px; }
  .desc-text {
    margin-bottom: 50px; } }

@media screen and (max-width: 480px) {
  .text-slider {
    width: 100%; }
  .jumbo-ctn {
    padding: 80px 10px 60px; }
    .jumbo-ctn img {
      display: none; }
    .jumbo-ctn p {
      font-weight: 400;
      font-size: 1.28571em; }
  .page_image.about {
    background-position: left center;
    padding: 10px 0; }
  .contact-form {
    padding: 40px 20px; }
  .bottom-liner {
    width: 100%; }
  h1, h2 {
    font-size: 1.71429em; }
  h3 {
    font-size: 1.42857em;
    line-height: 1.5; }
  .track-record img {
    margin-bottom: 20px; }
  .track-record .mb-50 {
    margin-top: 20px; }
  .coporate-governance {
    padding: 40px 0px; }
  .values {
    padding: 30px 0; }
    .values h1 span {
      margin-bottom: 20px; }
    .values p {
      margin-bottom: 20px; } }
