// $light: "proxima_novalight";
// $semibold: "proxima_novasemibold";
// $bold: "proxima_novabold";
// $regular: 'proxima_novaregular';
$regular: 'HelveticaNeue', sans-serif;
$light: 'HelveticaNeueLight', sans-serif;
$medium: 'HelveticaNeueMedium', sans-serif;
$bold: 'HelveticaNeueBold', sans-serif;
$rubik: 'Rubik', sans-serif;

$blue: #4472C4;
$green: #3DDC97;
$black: #2E3234;
$text-color: #4A4A4A;
$red: #F64D61;


@import 'fonts';



ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}


.box-ctn {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  background:#fff;
}
