@import 'mixins';
@import 'slider';

html, body {
	font-family: $rubik;
	color: #6a6a6a;
}

a {
	
	&:hover {
		text-decoration: none;
	}
}

.topbar {
	padding: 20px 0;
	border-bottom:  1px solid #C6C6C6;
}

.top-links {
	text-align: right;
	margin-top: 5px;
	a {
		margin-left: 23px;
	}

	img {
		margin-top: 5px;
	}
}



.sub-nav {
	position: relative;
	ul {
		li {
			display: inline-block;
			font-weight: 300;
			text-transform: uppercase;
			color: #4d4d4d;
			font-size: em(12);
			min-width: 120px;
			text-align: center;

			&:last-child {
				border-right: 1px solid #C6C6C6;
			}

			&:hover .sub-menu {
				display: block;
			}



			a {
				color: #4d4d4d;
				padding: 20px;
				display: block;
				border-left: 1px solid #C6C6C6;

				i {
					margin-right: 5px;
				}

				&:hover {
					text-decoration: none;
					color: $blue;
				}

				&.active {
					color: $blue;
					font-weight: 400;
				}

			}
		}
	}
}

.sub-menu {
	position: absolute;
	display: none;

	a {
		display: block;
	}

	a:hover {
		display: block;
	}
}

.bus-focus {
	i {
		margin-left: 10px;
		font-size: 14px;
	}
}

.business-sub-menu {
	display: none;
	position: absolute;
	background: rgba(56, 56, 58, 0.61);
	width: 250px;
	margin-left: 248px;
	z-index: 999;
	padding-left: 20px;

	a {
		display: block;
		padding: 15px 0;
		color: #fff;
		text-transform: capitalize;;
		font-weight: 300;
		border-bottom: 1px solid #fff;

		&:hover {
			font-weight: 400;

			i {
				color: #fff;
			}
		}

		i {
			margin-right: 10px;
			color: #707070;
		}

		&:last-child {
			border-bottom: none;
		}
	}
}


.home-bg {
	background: url(../img/background.png);
	background-position: bottom center;
	background-size: cover;
	
}

.jumbo-ctn {
	max-width: 600px;
	margin: 0 auto;
	padding: 300px 20px 200px;

	img {
		margin-bottom: 30px;
	}

	p {
		color: #C8DCF7;
		font-weight: 300;
		line-height: 1.8;
		font-size: em(16);
	}
}

.counter {
	background: #fff;
	max-width: 300px;
	width: 100%;
	float: right;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	padding: 20px 20px 10px;

	.crude, .currency {
		display: block;
		width: 49%;
		float: left;
	}

	p {
		margin-bottom: 0;
		font-weight: 500;
		font-size: 18px;
		margin-bottom: 12px;
		color: #5D5C5C;
		text-transform: uppercase;

		i {
			color: #5EA313;
			font-size: 18px;
		}

		span {
			display: block;
			font-size: 14px;
			font-weight: 300;
			color: #4d4d4d;
		}
	}
}

.commodities {
	padding: 80px 0;

	&.activity {
		padding: 80px 0 0px;
	}

	a {
		&:hover {
			color: $blue !important;
		}
	}
}

.commodity-box {
	border-radius: 4px;

	p {
		padding: 15px;
		text-transform: uppercase;;
		font-weight: 500;
		color: #2b2b2b;
		span {
			display: block;
			font-weight: 300;
			color: #4d4d4d;
		}
	}

	img {
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		
	}
}

.intro {
	padding: 0px 0 80px;
}

.pier-intro {
	font-size: em(16);
	font-weight: 300;
	color: #4d4d4d;
	padding-right: 50px;
	line-height: 1.7;

	span {
		font-weight: 500;
	}
}


.h4-title {
	color: $blue;

	h4 {
		margin-bottom: 20px;
	}
}

.rule-line {
	border-bottom: 1px solid #979797;
}


.halo {
	font-size: em(32);
	line-height: 1.3;
	text-transform: uppercase;
	font-weight: 500;

	span {
		color: #ACACAC;
	}
}


.capability {
	padding-bottom: 100px;
	h3 {
		font-weight: 500;
		color: #333;
	}
	.content-box {
		border-bottom: 1px solid #979797;
		padding: 15px 0;

		p {
			font-weight: 300;
			line-height: 1.7;
		}

		h4 {
			color: #333;
			font-weight: 500;
			margin-bottom: 15px;
		}

		&:last-child {
			border-bottom: none;
		}
	}
}

.left-side {
	padding: 30px 0;
}

.text-slider {
	width: 75%;
	padding: 10px 0;
	


	h3 {
		color: $blue;
		margin-bottom: 20px;
		border-top: 1px solid $blue;
		padding-top: 25px;
	}

	p {
		font-weight: 300;
		line-height: 1.7;
	}
}


.core-values {
	font-weight: 500 !important;
	color: #333;
	font-size: em(18);

	span {
		display: block;
		font-weight: 300 !important;
		font-size: em(12);
	}
}



// About 

.page_image {
	&.about {
		background: url(../img/about_us.png);
		background-size: cover;
		background-position: center right;
		padding: 20px 0;
	}

	h3 {
		text-transform: uppercase;
		font-weight: 500;
		color: #fff;

		span {
			font-weight: 300;
			display: block;
			font-size: 14px;
			margin-top: 10px;
		}
	}
}


.about-text {
	padding-top: 60px;

	&.business-desc {
		margin-bottom: 60px;
	}

	p {
		margin-bottom: 20px;
	}

	.halo {
		padding-top: 60px;
		margin-bottom: 30px;
	}
}


.bottom-liner {
	width: 60%;
	border-top: 1px solid #D8D8D8;

	span {
		display: block;
		height: 9px;
		background: #D8D8D8;
		width: 50%;
	}
}


.values {
	padding: 50px 0 100px;

	h1 {
		color: $blue;
		text-transform: uppercase;

		span {
			display: block;
			width: 100px;
			height: 7px;
			background: #D8D8D8;
			margin-top: 20px;
			margin-bottom: 40px;
		}
	}

	h4 {
		margin-bottom: 15px;
		color: #333;
	}

	p {
		font-weight: 300;
		color: #4d4d4d;
		line-height:1.7;
	}
}

.line-divider {
	width: 70%;
	height: 0.5px;
	background: #4472C3;
}

.mb-50 {
	margin-top: 60px;
}

.coporate-governance {
	padding: 40px 0 90px;
	h2 {
		color: #494949;
		line-height: 1.3;
	}

	h3 {
		color: $blue;

		span {
			display: block;
			width: 100px;
			height: 7px;
			background: #D8D8D8;
			margin-top: 20px;
		}
	}
}

.track-record {
	padding-bottom: 0px;

	img {
		margin-bottom: 30px;
	}

	h3 {
		color: $blue;
		text-transform: uppercase;

		span {
			display: block;
			width: 300px;
			height: 7px;
			background: #D8D8D8;
			margin-top: 20px;
			margin-bottom: 40px;
		}
	}


	p {
		color: #4d4d4d;
		font-weight: 300;
		margin-bottom: 20px;
		line-height: 1.7;
		font-size: em(16);
	}
}


.desc-text {
	font-weight: 300;
	margin-top: 20px;
	line-height: 1.7;

	span {
		display: block;
		width: 60%;
		height: 8px;
		background: #D8D8D8;
		margin-top: 20px;
	}
}

.project {
	padding-right: 30px;
	p {
		font-weight: 300;
		color: #4d4d4d;
		font-size: em(16);
		line-height: 1.7;
	}

	h4 {
		color: #333;
	}

	ul {
		margin: 20px 0;
		li {
			font-size: em(16);
			margin-bottom: 5px;
			font-weight: 300;
			color: #4d4d4d;
		}
	}
}

.blue-btn {
	border-radius: 3px;
	border: none;
	padding: 7px 20px;
	background: #4A90E2;
}

.contact-form {
	max-width: 700px;
	width: 100%;
	margin: 80px auto;
	padding: 40px 50px;
	border: 1px solid #d8d8d8;

	p {
		color: #333;
		margin-bottom: 30px;
		font-weight: 500;
		font-size: em(18);
	}

	.form-horizontal .control-label {
		text-align: left;
		font-weight: 300;
		color: #000;
	}

	.form-control {
		border-radius: 2px;
		box-shadow: none;
		height: 40px;
	}

	textarea {
		min-height: 150px;
		border: 1px solid #ccc;
		width: 100%;
		border-radius: 3px;
		padding: 15px;

		&:focus {
			border: 1px solid $blue;
			outline: $blue;
		}
	}

	button {
		color: #fff;

		&:hover {
			color: #fff;
		}
	}
}







.footer {
	background: #4f4f4f;
	padding: 50px 0;

	h4 {
		color: #fff;
		margin-bottom: 15px;
		font-weight: 500;
	}

	ul {
		padding: 0;
		margin: 0;

		li {
			list-style: none;
			margin-bottom: 5px;
			font-weight: 300;
			color: #fff;
			a {
				color: #fff;
			}
		}
	}
}

.social-media {
	margin-top: 25px;
	a {
		display: inline-block;
		color: #fff;
		margin-right: 10px;
	}
}

.footer-group {
	margin-bottom: 30px;
}

.contact-line {
	border-bottom: 1px solid rgba(255, 255, 255, 0.41);
}

.contact-image {
	float: left; 
	width: 30px;
	margin-top: 7px;
}

.contact-text {
	float: left;
	width: 85%;
	padding-left: 15px;
	padding-bottom: 10px;
	p {
		color: #fff;
		line-height: 1.5;

		span {
			display: block;
		}
	}
}






#nav-icon4 {
  width: 30px;
  height: 25px;
  position: relative;
  // margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  cursor: pointer;
    position: absolute;
    top: 8px;
    margin-right: 20px;
    right: 0;
    z-index: 99999;
    display: none;

  span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: $blue;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
      top: -3px;
    left: 6px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
      top: 18px;
    left: 5px;
}


.mobile-menu {
	display: none;
}










@media screen and (max-width: 960px) {
	

}

@media screen and (max-width: 768px) {
	.jumbo-ctn {
		padding: 100px 20px;
	}
	
	.intro {
		.pier-intro {
			margin-bottom: 40px;
			padding-right: 0;
		}
	}

	.commodities {
		padding: 50px 0 10px;
	}

	.commodity-box {
		margin-bottom: 40px;
	}

	.text-slider {
		width:90%;
	}
}


@media screen and (max-width: 600px) {
	.sub-nav {
		display: none;
	}

	.top-links {
		display: none;
	}

	#nav-icon4 {
		display: block;
	}

	.mobile-menu {
		
		background: #38383A;
		position: absolute;
		width: 100%;
		top: 76px;
		z-index:9999;


		a {
			display: block;
			color: #fff;
			font-weight: 300;
			padding: 15px 20px;
			text-transform: uppercase;
			border-bottom: 1px solid rgba(204, 204, 204, 0.42);

			&:hover {
				font-weight: 400;
			}

			&:last-child {
				border-bottom: none;
				border-top: 1px solid rgba(204, 204, 204, 0.42);
			}

			span {
				float: right;

				i {
					font-size: 18px;
				}
			}
		}

		.business-menu {
			padding-left: 20px;
			display: none;

			i {
				margin-right: 10px;
			}

			a {
				padding-left: 0;

				&:last-child {
					border-bottom: none;
					border-top: none !important;
				}
			}
		}
	}

	.track-record {
		img {
			margin-bottom: 20px;
		}
	}

	.about-text {
		padding-top: 40px;

		.pier-intro {
			padding-right: 0;
		}

		.halo {
			padding-top: 30px;
		}

		.project {
			padding: 0;
		}

		&.cap-proj {
			padding-bottom: 50px;
		}
	}

	.commodities {
		&.activity {
			padding-top: 30px;
		}
	}

	.desc-text {
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 480px) {
	.text-slider {
		width:100%;
	}

	.jumbo-ctn {
		padding: 80px 10px 60px;

		img {
			display: none;
		}

		p {
			font-weight: 400;
			font-size: em(18);
		}
	}

	

	.page_image {
		&.about {
			background-position: left center;
			padding: 10px 0;
		}
	}

	.contact-form {
		padding:  40px 20px;
	}

	.bottom-liner {
		width: 100%;
	}

	h1, h2 {
		font-size: em(24);
	}

	h3 {
		font-size: em(20);
		line-height: 1.5;
	}

	.track-record {
		img {
			margin-bottom: 20px;
		}

		.mb-50 {
			margin-top: 20px;
		}
	}

	.coporate-governance {
		padding: 40px 0px;
	}

	.values {
		padding: 30px 0;

		h1 {
			span {
				margin-bottom: 20px;
			}
		}

		p {
			margin-bottom: 20px;
		}
	}

}


@media screen and (max-width: 320px) {



}


